body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    padding: 0;
    margin: 5px 0px 5px 12px;
    background-color: grey;
    font-family: Arial, sans-serif;
}

header {
    padding: 5px;;
    border: 2px solid tomato;
    border-radius: 15px;
    width: 95vw;
    background-color: wheat;
}

h1 {
    text-align: center;
    color: #667;
}

section {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
    border-radius: 15px;
    margin-top: 10px;
    width: 95vw;
    background-color: wheat;
}

p {
    color: #667;
    margin: 10px 5px
}

code {
    display: grid;
    margin: 10px;
    padding: 8px 5px 8px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    overflow: scroll;
    width: 70vw;
}

span {
    text-wrap: nowrap;
}

img {
    width: 100%;
    max-width: 300px;
    border-bottom: 5px solid #333;
}

footer {
    display: flex;
    float: right;
    position: fixed;
    top: 94vh;
    left: 85vw;
    padding: 5px 10px 5px 10px;
    background-color: aqua;
    border: 2px solid salmon;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        width: 100%;
        height: auto;
        border-bottom: 5px solid #333;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
        border-bottom: 5px solid #333;
    }
}